@model IEnumerable<RMA>

@{
    ViewData["Title"] = "Active RMAs";
}

<h2 class="text-center">Active RMAs</h2>

<table class="table">
    <thead>
        <tr>
            <th>RMA Id</th>
            <th>RMA Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var RMA in Model)
        {
            <tr>
                <td>@RMA.Id</td>
                <td>@RMA.RMANumber</td>
            </tr>
        }
    </tbody>
</table>
