@model ActiveViewModel

@{
    ViewData["Title"] = "Home Page";
    ViewData["ViewName"] = "Index";
}

<div class="text-center">
    <h1 class="display-4 mb-2">RMA Tracker</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm text-center m-2">
            <button type="button" class="btn btn-secondary btn-large p-5 rounded-lg shadow-lg btn-block" data-toggle="modal" data-target="#addRMAModal"><h1>Create RMA</h1></button>
        </div>
        <div class="col-sm text-center m-2">
            <button type="button" class="btn btn-secondary btn-large p-5 rounded-lg shadow-lg btn-block"><h1>Update RMA</h1></button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm text-center m-2">
            <button type="button" class="btn btn-secondary btn-large p-5 rounded-lg shadow-lg btn-block"><h1>Add Part</h1></button>
        </div>
        <div class="col-sm text-center m-2">
            <button type="button" class="btn btn-secondary btn-large p-5 rounded-lg shadow-lg btn-block"><h1>Check Out Part</h1></button>
        </div>
    </div>
</div>

<partial name="_AddRMAPartial" />