@model IEnumerable<Part>

@{
    ViewData["Title"] = "Inventory";
}

<h2 class="text-center">Inventory</h2>

<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#addPartModal">Add Part</button>

<table id="inventoryTable" class="table">
    <thead>
        <tr>
            <th>Part Number</th>
            <th>Part Description</th>
            <th>On Hand</th>
            <th>Out For Repair</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var part in Model)
        {
            <tr>
                <td>@part.PartNumber</td>
                <td>@part.Description</td>
                <td>@part.QuantityOnHand</td>
                <td>@part.QuantityOutForRepair</td>
            </tr>
        }
    </tbody>
</table>

<partial name="~/Views/Shared/_AddPartPartial.cshtml" />

@*<div class="modal fade" id="addPartModal" tabindex="-1" role="dialog" aria-labelledby="addPartModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPartModalLongTitle">Add Part</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="AddPart">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Part.PartNumber" class="control-label"></label>
                        <input asp-for="Part.PartNumber" class="form-control" />
                        <span asp-validation-for="Part.PartNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Part.Description" class="control-label"></label>
                        <input asp-for="Part.Description" class="form-control" />
                        <span asp-validation-for="Part.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>*@

@section Scripts{
    <script>

        //function getRMA(id) {
        //    var rma = '';
        //    if (id !== null) {
        //        $.ajax({
        //            type: "GET",
        //            url: "/api/rmas/getrma/" + id,
        //            async: false,
        //            success: function (response) {
        //                rma = response.rmaNumber;
        //            },
        //        });
        //    }
        //    return rma;
        //}

        $(document).ready(function () {
            var table = $("#inventoryTable").DataTable();
            //var table = $('#inventoryTable').DataTable({
            //    ajax: {
            //        type: "GET",
            //        url: "/api/rmas/getallparts",
            //        dataSrc: "",
            //        contentType: "application/json",
            //        dataType: "json"
            //    },
            //    columns: [
            //        {
            //            className: 'details-control',
            //            orderable: false,
            //            data: null,
            //            defaultContent: ''
            //        },
            //        { data: "partNumber" },
            //        { data: "description" },
            //        { data: "serialNumbers.length" },
            //        { data: null },
            //        { data: null, orderable: false }
            //    ],
            //    columnDefs: [
            //        {
            //            targets: -1,
            //            createdCell: function (td, cellData, rowData, row, col) {
            //                $(td).html('<button class="btn btn-primary" data-toggle="modal" data-target="\#addSerialNumberModal" onclick="javascript:setVal(' + rowData.id + ')">Add Serial Number<\/button>');
            //            }
            //        },
            //        {
            //            targets: 4,
            //            createdCell: function (td, cellData, rowData, row, col) {
            //                $(td).html(rowData.serialNumbers.filter(s => s.outForRepair == true).length);
            //            }
            //        }
            //    ],
            //});
        });
    </script>
}
